@use 'variables' as v;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: v.$main_font;
}

// elements
a{
  text-decoration: none;
}



// classes
.padding-inline{
  padding-inline: 240px;
}

.app-main{
  min-height: 90vh;
}
